* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin-top: 10px;
    background-color: #57CC99;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    height: 45px;
}

h2 {
    text-align: center;
    margin-top: 10px;
    background-color: #57CC99;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    height: 45px;
    font-size: 30px;
}

body {
    background-color: #38A3A5;
    font-family: 'Space Grotesk', sans-serif;
}

.asli {
    display: flex;
    flex-wrap: wrap;
    background-color: #22577A;
    border-radius: 5px;
    margin-top: 20px;
}
  
.asli > div {
    background-color: #57CC99;
    width: 30%;
    float: left;
    float: right;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 5px;
  }

/* .asli > div:link, .asli > div:visited {
    background-color: #80ED99;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 15px;
}  

.asli > div:hover, .asli > div:active {
    background-color: #22577A;
} */


a:link, a:visited {
    /* background-color: #80ED99; */
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 15px;
  }
  
  /* a:hover, a:active {
    background-color: #22577A;
} */
