* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(44, 43, 43);
}

#kilo {
    background-color: red;
    border-radius: 5px;
    width: 100%;
    margin: 10px;
    height: 50px;
}

#gram {
    background-color: blue;
    border-radius: 5px;
    width: 100%;
    margin: 10px;
    height: 50px;

}

#ounce {
    background-color: green;
    border-radius: 5px;
    width: 100%;
    margin: 10px;
    height: 50px;
}

#input {
    width: 100%;
    height: 50px;
    margin: 10px;
    border-radius: 5px;
}