* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #7D1935;
    font-family: 'Open Sans', sans-serif;
}
nav {
}

header nav ul{
  width: 50%;
  margin: auto;
  }
  
  header nav ul li {
    display: inline-block;
  }
  
li a {
    display: block;
    color: #DF711B;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
ul:nth-child(2) {
  background-color: chartreuse;
}

footer u
/* img{
    width: 50%;
    height: 50%;
    border-radius: 5px;
    margin-left:auto ;
    margin-right: auto;
    display: block;
} */
