* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #7D1935;
    font-family: 'Open Sans', sans-serif;
}
nav {
  position: sticky;
  top: 0;
  padding: 5px;
}

header nav ul{
  width: 20%;
  margin: auto;
}
  
  header nav ul li {
    display: inline-block;
  }
  
li a {
    display: block;
    color: #DF711B;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
}

footer {
  background-color: cadetblue;
}

.vasat {
  position: relative;
  margin-top: 100px;
}

#center {
  position: absolute;
  text-align: center;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  background-color: green;
  display: block;
}

.aks {
  margin-left: 75%;
}








/* img{
    width: 50%;
    height: 50%;
    border-radius: 5px;
    margin-left:auto ;
    margin-right: auto;
    display: block;
} */
