* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #B61919;
}

.timer{
    text-align: center;
    background-color: blue;
    width: 50%;
    margin: 20px auto ;
    border: solid black 2px;
    border-radius: 50%;
    padding: 100px;
}

.button{
    text-align: center;
    border: solid black 2px;
    background-color: rgb(160, 106, 7);
    padding: 50px;
    margin: 10px;
}

#stop {
    margin: 5px;
    padding: 10px;
    background-color: gold;
    border-radius: 20%;
}

#start {
    margin: 5px;
    padding: 10px;
    background-color: gold;
    border-radius: 20%;
}

#reset {
    margin: 5px;
    padding: 10px;
    background-color: gold;
    border-radius: 20%;
}

p {
    font-size: 20px;
    background-color: blue;
}