* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #4B3869;
}

.timer{
    text-align: center;
    background-color: #63B4B8;
    width: 50%;
    margin: 20px auto ;
    
    border-radius: 10px;
    padding: 50px;
}

#timer {
    background-color: #63B4B8;
}

button{
    background-color: #664E88;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
    font-size: 1.1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: all 0.2s;
    float: right;
}

#stop {
    text-align: center;
    margin: 5px;
}
#start {
    text-align: center;
    margin: 5px;
}

#reset {
    text-align: center;
    margin: 5px;
}

p {
    font-size: 20px;
    background-color: blue;
}

.button {
    display: flex;
    justify-content: center;
    
}

button:hover {
    transform: scale(1.2);
    cursor: pointer;
}